{# Extending the base layout to our homepage #}
{% extends 'base.html.twig' %}

{# {{ parent() }} #}
{% block title %}Starshop: Beam up some parts!{% endblock %}

{% block body %}

<h1>Startshop: your monopoly-busting option for Startship parts!</h1>

<div>
    {# {{  }} <- is like a 'say something' syntax. #}
    Browse through {{ ships|length * 10 }} starships!

    {# {% %} <- is like a 'do something syntax, language constructs or setting a variable. #}
    {% if ships|length > 2 %}
        <p>
            {# Do you think "shiploads" will pass the legal team? #}
            That's a shipload of ships!
        </p>
    {% endif %}
</div>

<div>
    <h2>My Ship</h2>

    <table>
        {# OBS.: after '|', we're adding 'filters', native from Twig #}
        <tr>
            <th>Name</th>
            <td>{{ myShip.name }}</td>
        </tr>

        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>

        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain|upper }}</td>
        </tr>

        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>

{% endblock %}